**/.git
**/.gitignore
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/TestResults
**/coverage
**/*.md
**/.env
**/.env.*
**/appsettings.*.local.json
**/secrets.json
**/*.user
**/*.suo
**/*.*proj.user
docker-compose*.yml
.dockerignore
Dockerfile*
**/Properties/launchSettings.json
